
/**
 * Site footer
 */
.site-footer {
  background: $background-color;
  a {
    color: $text-color;
  }
  ul, ol {
    margin-left: 0;
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Horizontal Rule
 */
hr {
  border-top: 1px solid $border-color;
  margin-top: calc(#{$spacing-unit} / 2);
  margin-bottom: calc(#{$spacing-unit} / 2);
}

/**
 * Badge
 */
.badge {
  color: $text-color !important;
  background-color: $secondary-background-color !important;
}
