<hr>

<div>
    <img src="../assets/apps/expenses.png" width="100" height="100">
    <h2>Expenses</h2>
    <div>
        <span class="badge badge-pill">Free</span>
        <span class="badge badge-pill">Pro</span>
        <span class="badge badge-pill">iPhone</span>
        <span class="badge badge-pill">Mac</span>
    </div>
    <p>Expensesは、シンプルで直感的なインターフェイスに便利な機能を搭載し、簡単に支出を記録できるように作られています。</p>
    <p ><a href="{{ site.links.expenses }}" target="_blank">さらに詳しく {% include icons/arrow-up-right-square.html %}</a></p>
    <p><i>2020年5月14日にリリース</i></p>
</div>

<hr>

<div>
    <img src="../assets/apps/rerere.png" width="100" height="100">
    <h2>Rerere</h2>
    <div>
        <span class="badge badge-pill">Free</span>
        <span class="badge badge-pill">Pro</span>
        <span class="badge badge-pill">iPhone</span>
        <span class="badge badge-pill">Mac</span>
    </div>
    <p>シンプルなプロセス指向のチェックリストアプリで、忘れ物を防ぐことができます。</p>
    <p><a href="{{ site.links.rerere }}" target="_blank">App Store {% include icons/arrow-up-right-square.html %}</a></p>
    <p><i>2022年5月14日にリリース</i></p>
</div>

<hr>

<div>
    <img src="../assets/apps/8planets.png" width="100" height="100">
    <h2>8Planets</h2>
    <div>
        <span class="badge badge-pill">Paid</span>
        <span class="badge badge-pill">iPhone</span>
        <span class="badge badge-pill">Watch</span>
        <span class="badge badge-pill">Mac</span>
    </div>
    <p>8Planetsは、太陽系の惑星軌道のシンプルなビューアとシミュレータです。</p>
    <p><a href="{{ site.links.eightplanets }}" target="_blank">App Store {% include icons/arrow-up-right-square.html %}</a></p>
    <p><i>2021年3月22日にリリース</i></p>
</div>

<hr>

<div>
    <img src="../assets/apps/passwordgen.png" width="100" height="100">
    <h2>PasswordGen</h2>
    <div>
        <span class="badge badge-pill">Paid</span>
        <span class="badge badge-pill">iPhone</span>
        <span class="badge badge-pill">Mac</span>
    </div>
    <p>PasswordGenは、強力なパスワードを素早く簡単に作成できるシンプルなアプリです。</p>
    <p><a href="{{ site.links.passwordgen }}" target="_blank">App Store {% include icons/arrow-up-right-square.html %}</a></p>
    <p><i>2021年12月11日にリリース</i></p>
</div>

<hr>

<div>
    <img src="../assets/apps/ondrip.png" width="100" height="100">
    <h2>OnDrip</h2>
    <div>
        <span class="badge badge-pill">Free</span>
        <span class="badge badge-pill">Pro</span>
        <span class="badge badge-pill">iPhone</span>
        <span class="badge badge-pill">Watch</span>
    </div>
    <p>OnDripは、点滴の点滴速度を計算し、バイブレーションで点滴の調節を簡単にするアプリです。</p>
    <p><a href="{{ site.links.ondrip }}" target="_blank">App Store {% include icons/arrow-up-right-square.html %}</a></p>
    <p><i>2024年5月2日にリリース</i></p>
</div>

<hr>

<div>
    <img src="../assets/apps/rokuyo.png" width="100" height="100">
    <h2>Rokuyo</h2>
    <div>
        <span class="badge badge-pill">Free</span>
        <span class="badge badge-pill">Mac</span>
    </div>
    <p>Rokuyoは、今日の六曜をお知らせするシンプルなメニューバーアプリです。</p>
    <p><a href="{{ site.links.rokuyo }}" target="_blank">App Store {% include icons/arrow-up-right-square.html %}</a></p>
    <p><i>2021年10月14日にリリース</i></p>
</div>
